* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navbar-container img {
    cursor: pointer;
    padding: 10px 0px;
    height: 50px;
}

.grow-list {
    list-style: none;
}

.list li {
    position: relative;
    right: -80px;
    display: inline-block;
    padding: 0px 20px;

}

.list-item {
    font-weight: lighter;
    color: rgb(192, 181, 181);
}

.list-item:hover {
    color: black;
    cursor: pointer;
}

.button-group .nav-button {
    border: 2px solid skyblue;
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;
    color: skyblue;
    cursor: pointer;
}


/* main section  */
.main {
    display: flex;
    margin-top: 20px;
}

.main-left {
    /* display: flex;
    flex-direction: column; */
    margin-right: 11rem;
    margin-left: 8rem;
}

.main-left h1 {
    font-size: 3rem;
    font-weight: 700;
}

.main-left p {
    margin: 10px 0px;
    font-weight: lighter;

}

.main-left button {
    padding: 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 12px;
    border: 1px solid;
    cursor: pointer;
}

.main-right {
    margin-right: 5rem;
}

.main-right img {
    height: 312px;
    width: 424px;
}

/* testing section  */

.testing {
    display: flex;
    margin-top: 50px;
}

/* right */
.testing-right {
    margin-right: 166px;
    margin-left: 111px;
}

.testing-right h1 {
    font-size: 3rem;
    font-weight: 700;
}

.testing-right p {
    margin: 10px 0px;
    font-weight: lighter;
}

.testing-right button {
    padding: 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 12px;
    border: 1px solid;
    cursor: pointer;
}

/* left  */
.testing-left {
    margin-left: 5.5rem;
}

.testing-left img {
    height: 312px;
    width: 424px;
}

/* technical section  */

.technical {
    display: flex;
    margin-top: 50px;
}

/* technical left  */
.technical-left {
    /* display: flex;
    flex-direction: column; */
    margin-right: 11rem;
    margin-left: 8rem;
}

.technical-left h1 {
    font-size: 3rem;
    font-weight: 700;
}

.technical-left p {
    margin: 10px 0px;
    font-weight: lighter;

}

.technical-left button {
    padding: 12px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    border-radius: 12px;
    border: 1px solid;
    cursor: pointer;
}

.technical-right {
    margin-right: 5rem;
}

.technical-right img {
    height: 352px;
    width: 374px;
}



/* services section  */

.services {
    display: flex;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 5rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.services h2 {
    font-size: 2rem;
    font-weight: bold;
}

.services p {
    margin-left: 20rem;
    padding-left: 20px;
}

/* services card  */
.cards-container {
    margin-right: 4rem;
    margin-left: 6rem;
    display: grid;
    /* background-color: aliceblue; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 236px 161px 67px;
    row-gap: 4px;
    column-gap: 30px;
}

.card h3 {
    margin: 20px 0px 20px;
}

.card p {
    margin-bottom: 30px;
    font-weight: 100;
}


/* pricing section  */
.pricing {
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    height: 650px;
}

.pricing h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.pricing-cards {
    display: flex;
    margin-left: 15rem;
}

.pricingcard {
    margin-left: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.pricingcard .pricingcard-heading {
    margin-bottom: 15px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;

}

.pricingcard .pricingcard-heading2 {
    margin-bottom: 15px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;

}

.pricingcard .pricingcard-heading2 h2 {
    margin-bottom: 10px;
}

.pricingcard .pricingcard-heading2 {
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
}

.pricingcard .pricingcard-heading h2 {
    margin-bottom: 10px;
}

.pricingcard .pricingcard-middle {
    margin-bottom: 40px;

}

.pricingcard .pricingcard-middle .fa-regular {
    color: #46e0b8;
}

.pricingcard .pricingcard-middle ul li {
    list-style: none;
    padding: 8px;
}

.pricingcard .pricingcard-bottom {

    text-align: center;
    margin-bottom: 20px;
}

.pricingcard .pricingcard-bottom h5 {
    font-size: 20px;
}

.pricingcard-bottom-btn {
    margin-left: 37px;
    margin-bottom: 40px;
}

.pricingcard-bottom-btn button {
    border: 2px solid skyblue;
    background-color: white;
    padding: 10px 35px;
    border-radius: 10px;
    color: #26c1f8;
    cursor: pointer;
}

.pricingcard-bottom-btn2 {
    margin-left: 37px;
    margin-bottom: 40px;
}

.pricingcard-bottom-btn2 button {
    border: 2px solid skyblue;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    padding: 10px 35px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


/* review section  */
.review {
    margin-top: 100px;
    margin-bottom: 100px;
}

.review h1 {
    text-align: center;
    font-size: 3rem;
}

.reviewp {
    text-align: center;
    justify-content: center;
    margin: 40px;
    font-size: 1rem;
}

/* cards section  */
.review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.review-card {
    padding: 0px 22px;
    width: 34rem;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 300px;

}

.review-card p:nth-child(1) {
    line-height: 28px;
    text-align: left;
    /* color: blue; */
    font-size: 15px;
    padding: 20px;
    margin-top: 20px;
}

.review-card-profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.review-card-profile .container__profile__text {
    display: flex;
    flex-direction: column;
}

.review-card-profile .container__profile__text h5 {
    padding: 10px;

}

.review-card-profile .container__profile__text p {
    padding-left: 10px;
}

/* register section  */
.register {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right bottom, #11c0f8, #0566ea);
    padding: 50px;
}

.register .reg-info h2 {
    font-size: 3rem;
    padding: 10px;
}

.register .reg-info p {
    padding: 10px;
}

.register button {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}


/* fotter section  */
.footer {
    margin: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.footer ul {
    list-style: none;
}

.footer .colm-1 img {
    height: 34px;
    width: 81px;
}

.footer .colm-1 p {
    margin-top: 10px;
}

.footer .colm-2 ul li {
    padding: 10px 0px;
}

.footer .colm-3 ul li {
    padding: 10px 0px;
}

.footer .colm-4 ul li {
    padding: 10px 0px;
}

.footer .colm-5 .icons {
    padding: 20px 0px;
}

/* media queries upto technical section  */
@media screen and (max-width:940px) {

    /* navbar section media  */
    .navbar-container .grow-list {
        display: none;
    }

    /* main section media  */
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-left {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
        align-items: center;
    }

    .main-left h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    .main-right {
        margin-top: 20px;
    }

    /* testing section media */
    .testing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testing-right {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-right: 2rem;
        margin-left: 2rem;
        align-items: center;
    }

    .testing-left {
        margin-left: 0rem;
        order: 2;
        margin-top: 30px;
    }

    .testing-right h1 {
        font-size: 2rem;

    }

    /* technical section  */
    .technical {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .technical-left {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
        align-items: center;
    }

    .technical-left h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    .technical-right {
        margin-top: 20px;
    }

    /* services section  desighn  */
    .services {
        display: flex;
        flex-direction: column;
    }

    .services p {
        margin-top: 40px;
        margin-left: 0rem;
        padding-left: 20px;
    }

    /* services card  */
    .cards-container {
        display: block;
        align-items: center;
    }

    /* pricing section  */
    .pricing-cards {
        display: flex;
        margin-left: 150px;
        margin-right: 250px;
        flex-direction: column;
        margin-top: 50px;
    }

    .pricing {
        background: linear-gradient(to right bottom, #11c0f8, #0566ea);
        height: 2000px;
    }

    .pricingcard {
        margin-top: 30px;
    }

    /* register section  */
    .register {
        display: flex;
        flex-direction: column;
    }

    .register .reg-info h2 {
        font-size: 2rem;
        padding: 10px;
    }


    /* footer section  */
    .footer {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px) {
    .pricing-cards {
        display: flex;
        margin-left: 90px;
        margin-right: 90px;
        flex-direction: column;
        margin-top: 50px;
    }

}